.signin-container {
    .header {
        .signin-header-img {
            height: 40px;
            width: 160px;
        }
    }
    .sparator {
        .separaor-line {
            border-top: 1px solid grey
        }
    }
    .footer {
        border-top: 1px solid grey;
        .footer-img {
            height: 24px;
            width: 32px;    
        }
    }
}