.p-h-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.p-h-8 {
    padding-left: 8px;
    padding-right: 8px;
}

.p-h-32 {
    padding-left: 32px;
    padding-right: 32px;
}

.p-v-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.p-v-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.p-v-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.full-height {
    height: 100vh
}